{% extends "base.html" %}
{% block content%}
<div class="table1" col-lg-8>
  <div class="mx-auto">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          {% for r in tables.columns %}
          <th>{{ r}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for j in tables.index %}
        <tr>

          {% for r in tables.loc[j] %}
          <td>{{ r }}</td>
          {% endfor %}

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
<form action="/prediction" class="inline">
  <center> <button type="prediction" class="btn btn-primary">Classify</button></center>
</form>
{% endblock %}